[Unit]
Description=Virtual serial proxy daemon

[Service]
Type=simple
ExecStart=/usr/sbin/sproxyd -d -c /etc/serial-proxy/conf.d -p /var/run/serial-proxy.pid
Restart=always
PIDFile=/var/run/serial-proxy.pid

[Install]
WantedBy=multi-user.target
